.N_main {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f5f5f5;
    height: 6vh;
    z-index: 99;
}
.N_logoM {
    display: flex;
    align-items: center;
}
.N_logo {
    width: 25px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.N_settingIcon {
    width: 20px;
    /* margin: 0 30px 0 10px; */
    cursor: pointer;
    margin-top: 2px;
}
.N_name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
    color: rgb(227, 152, 152);
}
.N_menu {
    /* width: 5%; */
    width: 30%;
    padding-right: 20px;
    display: flex;
    justify-content: end;
}
.N_profile {
    background-color: rgb(228, 124, 124);
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
} 
.N_menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}
.N_menuIcon1  {
   width: 30px;
   height: 30px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.N_menuIcon2  {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: rotate(230deg);
 }
.Features {
    position: absolute;
    top: 7vh;
    right: 1vw;
    background-color: rgb(255, 255, 255);
    width: 15vw;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow:  5px 5px 7px #d3d3d3,
             -5px -5px 7px #ededed;
}
.Features_m {
    position: absolute;
    top: 6.5vh;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    z-index: 99;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height:fit-content;
    align-items: center;
    padding: 5px;
    box-shadow:  5px 5px 7px #d3d3d3,
             -5px -5px 7px #ededed;
}
.f {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    height: 25px;
    padding-left: 10px;
    margin-bottom: 5px;
}
.f_m {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
  
    padding-left: 10px;
    margin-bottom: 5px;
}
.f-1:hover {
    background-color: rgb(248, 180, 180);
    cursor: pointer;
}
