
.login_main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .clogin_title,
  .cmail_in,
  .cpass_in,
  .clogin_in,
  .cforget_in {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;

  }
  
  .cmail,
  .cpass {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40%;
    height: 40px;

    /* width: 200px; */
  }
  
  .clogin {
    width: 30%;
    height: 40px;
    /* padding: 8px 16px; */
    background-color: #f9b9b2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .clogin:hover {
    background-color: #feab8c;
  }
  
  .cforget {
    color: #765d5b;
    cursor: pointer;
  }
  
  .cforget:hover {
    text-decoration: underline;
  }
  

.cerror {
 color: red;
  
}
.security-question {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-top: 20px;
}
.security-question-select {
  width: 40%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px;
}
.security-question-answer {
  width: 40%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px;    
}
.SQ_main {
animation: slideDown 1s ease-in-out;

}
@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
  
}
.SQ {
  cursor: pointer;
  margin-bottom: 20px;
  color: #765d5b;
}


.SQ::after{
  content: '';
  /* position: absolute; */
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #f6a2a2;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
.SQ:hover::after{
  width: 40%;
  left: 0;
  background: #ffbebe;
}

