.view_main {
    width: 80%;
    background-color: rgb(255, 255, 255);
    height: 95%;
    margin-top: 6%;
    border-radius: 6px;
    /* background: #e0e0e0; */
    box-shadow:  6px 6px 11px #5a5a5a,
                 -6px -6px 11px #ffffff;
}
.view_main_m {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 95%;
    margin-top: 6%;
    padding-top: 20px;
    border-radius: 6px;
    /* background: #e0e0e0; */
    box-shadow:  6px 6px 11px #5a5a5a,
                 -6px -6px 11px #ffffff;
}
.view_nav {
    width: 100%;
    background-color: rgb(240, 222, 209);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.view_nav_m {
    width: 100%;
    background-color: rgb(240, 222, 209);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 40px;
}
.view_back {
    width:2%;
    cursor: pointer;
}
.view_back_m {
    width: 7%;
    cursor: pointer;
}
.view_subject {
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.view_subject_right {
    width: 20%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.view_subject_right_m {
    width: 60%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.view_print {
    width: 8%;
    cursor: pointer;
    height: 100%;
    margin-right: 10px;
}
.view_subject_name {
    font-size: 1.5rem;

}

.view_sender {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.view_sender_profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(239, 208, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}
.view_sender_profile_m {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(239, 208, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
}
.view_sender_name {
    font-size: 1.1rem;
    margin-right: 1%;
}
.view_sender_name_m {
    font-size: 1.1rem;
    margin-right: 2%;
}

.view_body {
    width: 100%;
    padding: 5px 2%;
    height: 500px;
    /* height: 100%; */
    /* background-color: azure; */
    font-size: 0.9rem;
    overflow-y: auto;
}

.view_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: aquamarine; */
}


.deleteConfirm {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.dc1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dc2 {
    font-size: 14px;
    color: #888;
}

.dc3 {
    /* Design the undo button */
    width: 20%;
    height: 30px;
    border-radius: 5px;
    /* border: none; */
    /* outline: none; */
    cursor: pointer;
    background-color: rgb(255, 255, 255);

    border: 1px solid rgb(198, 192, 191);
    align-self: flex-end;
    margin-right: 10px;





}
.dc3:hover {
    background-color: rgb(198, 192, 191);
    color: white;
}

.view_sender_email {
    color: #6d6b6b;
    font-size: 0.85rem;
}

.nameAt0 {
    color: rgb(0, 0, 0);
}
.view_footer_btn {
    width: 10%;
    height: 30px;
    border-radius: 5px;
    /* border: none; */
    /* outline: none; */
    cursor: pointer;
    background-color: rgb(240, 134, 134);
    border: 1px solid rgb(198, 192, 191);
    display: flex;

    align-items: center;
    justify-content: center;
}